<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs" style="font-size:.8em;color: #3c8dbc;font-weight: bold;">
        青柠派工作室
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">Lime Studio</a>.</strong> All rights reserved.
</footer>