
<section class="content-header">
    <h1>
        素材管理
        <small>微信素材</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 微信基本配置</a></li>
        <li class="active">素材管理</li>
    </ol>
</section>




<!-- Main content -->
<section class="content">

    <!-- Your Page Content Here -->

</section>
